name: Build & Test

on: push

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: denoland/setup-deno@v1.1.0
        with:
          deno-version: v1.x

      - run: deno fmt --check

      - run: deno lint

      - run: deno test --allow-all --unstable